@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
}

iframe#webpack-dev-server-client-overlay {
  display: none!important
}
.hide-resize-observer {
  display: none!important;
}
* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}
*:focus,*:visited,*:active{
  outline: none!important;
  -webkit-tap-highlight-color: transparent!important;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box!important;
}

ul {
  list-style: none!important;
  padding-left: 0!important;
}

a {
  text-decoration: none!important;
}

html {
  scroll-behavior: smooth;
}